@import '../styles/common.scss';

.points-cost-line {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.points-cost-input {
  width: 474px;
}

.earnings-line {
  @include t-cal(reg, 13px, 13px, 0.3px);
  text-transform: uppercase;
  margin: 18px 0px 28px 0px;
  display: flex;
  justify-content: space-between;

  .earnings-line__your-earnings {
    letter-spacing: 1.3px;
  }

  .earnings-line__points {
    @include t-cal(bold, 14px, 13px, 1.3px);
    color: $L7;
    margin-left: 5px;
  }

  .price-faq {
    @include t-cal(med, 14px, 13px, 0.3px);
    text-transform: none;
    cursor: pointer;
    margin-left: auto;
    color: $G16;
  }
}

.input-label {
  @include t-cal(bold, 13px, 1.8, 1.3px);
  text-transform: uppercase;
  display: flex;
  margin-left: 3px;
}

.coins-icon {
  margin-left: 10px;
  margin-right: 10px;
  svg {
    fill: $L8;
  }
}

.editor-wrapper {
  background: $L3;
  margin-top: 16px;
  padding: 8px;
}

.editor-wrapper-mobile {
  min-height: 50px;
  margin-bottom: 8px;
  color: $D7;
}

@include mobile() {
  .points-cost-input {
    width: 100%;
  }

  .points-cost-line {
    & > div {
      width: 100%;
    }
  }

  .earnings-line {
    @include t-cal(reg, 16);
    display: block;
    margin-left: 0;
    .earnings-line__points {
      @include t-cal(bold, 13px);
      color: $L7;
      text-transform: uppercase;
    }
  }

  .price-faq {
    @include t-cal(sb, 16px);
    display: block;
    margin-top: 8px;
    margin-left: 0;
  }
}
