.refresh-button-container {
  position: fixed;
  width: 330px;
  z-index: 1;
  background: white;
  top: 69px;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-bottom: 1px solid hsla(0, 0%, 91%, 1);
}

.button {
  color: #0a96fa !important;
  border-color: #0a96fa !important;
}
