.top-header {
  height: 64px;
}

.sider {
  height: 100vh;
  background: white;
}

.right-side {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 80px;
  width: 100%;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  padding: 0 22px;
  z-index: 1;
  box-sizing: border-box;
  background: hsla(225, 15%, 96%, 1);
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card :global(.ant-card-body) {
  display: none;
}

.top-header {
  display: flex;
}

.grid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 2%;
  row-gap: 2vw;
  padding-top: 40px;
  padding-bottom: 40px;
}
