.sider {
  position: relative;
  height: 100vh;
  background: white;
}

.logo {
  border-bottom: 1px solid hsla(0, 0%, 91%, 1);
}

.form {
  padding: 30px;
  padding-bottom: 60px;
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}

:global {
  .ant-tabs-bar {
    margin-bottom: 0 !important;
  }
}

.presets-tab {
  height: calc(100vh - 115px);
  overflow: auto;
  display: flex;
  padding: 30px 0;
  justify-content: center;
}

.form-item-with-show-more {
  margin-bottom: -10px;
}
